@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Slab:400,700&subset=cyrillic");
article div, .what_need div.first-child, .author article header ul li { border-bottom: 1px solid #b6b6b6; }

article { box-sizing: border-box; width: 100%; height: auto; padding: 0 0 15px; margin: auto; text-align: left; font-size: 4.5vw; border-bottom: #1998FF solid 2px; }
article p { box-sizing: border-box; width: 100%; height: auto; padding: 5px 20px; margin: auto; }
article p a { color: #1998FF; text-decoration: none; }
article h2, article h3 { text-align: center; font-size: 8vw; padding: 5px 20px; margin: 10px 0; font-family: "Roboto Slab", serif; font-weight: 600; }
article h3 { font-size: 6.5vw; font-weight: 400; text-align: left; margin: 0; padding: 0 20px 15px; }
article img, article aside .w3org img, aside .w3org article img { box-sizing: border-box; width: 100%; height: auto; padding: 0; margin: 0; }
article div { padding: 20px 0; }
article div:last-child { border-bottom: none; }
article div:first-child { padding: 0; }

aside { box-sizing: border-box; width: 100%; height: auto; padding: 0; margin: 0; color: white; background-color: #1998FF; }
aside p { text-align: left; font-size: 4.5vw; box-sizing: border-box; width: 100%; height: auto; padding: 5px 20px 20px; margin: auto; }
aside ul { padding: 10px 20px; }
aside ul li { list-style-type: none; }

.youTube { box-sizing: border-box; width: 100%; height: auto; padding: 0; margin: auto; background-color: white; }
.youTube iframe { box-sizing: border-box; width: 100%; height: auto; padding: 0; margin: 0; background-color: white; }

.gallery { box-sizing: border-box; width: 100%; height: 30vh; padding: 0; margin: auto; overflow-y: scroll; background-color: white; }

.what_need div { border: none; }
.what_need footer p { padding-top: 0; margin-top: -14px; }

.articles-menu { display: none; }

.about_site article { padding-bottom: 0; }
.about_site article div.first-child { padding-top: 0; }

.author article header ul { box-sizing: border-box; width: 100%; height: auto; padding: 0; margin: 0; }
.author article header ul li { padding: 10px 0 10px 20px; list-style: none; }
.author article header ul li span { font-weight: 300; color: #898989; margin-left: 10px; }
.author article div.table { border-bottom: none; }
.author article div.table table.skills { box-sizing: border-box; width: 100%; height: auto; padding: 0; margin: 0; border-collapse: collapse; }
.author article div.table table.skills tr td { padding: 10px 0; text-align: center; border: 1px solid #b6b6b6; }
.author article div.table table.skills tr td:first-child { border-left: none; }
.author article div.table table.skills tr td:last-child { border-right: none; }
.author article div.table table.skills tr:first-child { font-weight: 700; }
.author article footer div { display: flex; flex-wrap: wrap; justify-content: space-around; }
.author article footer div a img { box-sizing: border-box; width: 30vw; height: auto; padding: 0; margin: 0; }

@media (min-width: 768px) { main { margin-top: -5px; }
  main article { padding: 15px 50px; background-color: white; }
  main article p { padding: 10px 0; }
  main article h2, main article h3 { font-size: 6vw; }
  main article h3 { padding: 0 0 10px; font-size: 4.5vw; }
  main article img, main article aside .w3org img, aside .w3org main article img { border-radius: 20px; }
  main aside { width: auto; margin: 50px 20px; border-radius: 20px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); }
  main aside p { font-size: 3vw; }
  p { font-size: 2.5vw; }
  .head main { position: relative; z-index: 1000; }
  .head main article { box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); border-bottom: 1px solid rgba(0, 0, 0, 0.3); border-top: 1px solid rgba(0, 0, 0, 0.3); }
  .head main .w3org img { width: 200px; float: left; margin: 0 20px 6px; padding-top: 20px; border-radius: 50%; }
  .head main .w3org ul { padding-top: 30px; }
  .head main .w3org ul li { font-size: 3vw; }
  .head main .youTube { width: auto; margin: 50px 20px; padding: 20px 0; transition: 500ms ease-in-out; }
  .head main .youTube iframe { height: 30vh; transition: 500ms ease-in-out; }
  .head main .gallery { width: auto; margin: 50px 20px; transition: 500ms ease-in-out; }
  .head main .gallery img { width: 100%; }
  .what_need article a img { width: 20vw; }
  .what_need article a img.left { float: left; margin: 0 20px 10px 0; }
  .what_need article a img.right { float: right; margin: 0 0 10px 20px; }
  .author article header img { border-radius: 50%; float: left; width: 30vw; }
  .author article header ul { padding-left: 35vw; }
  .author article header ul li { font-size: 3.5vw; }
  .author article div table { font-size: 3.5vw; margin-bottom: 40px; border: 1px solid #b6b6b6; }
  .author article footer div { margin: 20px 0; }
  .author article footer div a img { box-sizing: border-box; width: 25vw; height: auto; padding: 0; margin: 0; } }
@media (min-width: 1024px) { main article { width: 1000px; }
  main article:last-child { border: none; }
  main article header { margin: 0; }
  main article p { font-size: 1.1rem; }
  main article h2, main article h3 { font-size: 3.1rem; }
  main article h3 { font-size: 2.1rem; }
  main aside { width: 700px; margin: 50px auto; transition: 500ms ease-in-out; }
  main aside p { font-size: 1.3rem; }
  main aside:hover { box-shadow: 0 0 60px rgba(0, 0, 0, 0.6); }
  .bg_blur { background-image: url("../img/backcground/background_1024.png"); }
  .head main article { width: auto; }
  .head main article p { width: 930px; font-size: 1.2rem; }
  .head main .w3org img { width: 100px; }
  .head main .w3org ul { padding-top: 30px; }
  .head main .w3org ul li { font-size: 1.3rem; }
  .head main .youTube { width: 700px; height: 340px; margin: 50px auto; }
  .head main .youTube iframe { height: 100%; }
  .head main .youTube:hover { width: 800px; height: 440px; }
  .head main .gallery { display: flex; background: none; box-shadow: none; overflow: auto; flex-wrap: wrap; justify-content: space-around; align-content: center; box-sizing: border-box; width: 900px; height: auto; padding: 20px 0; margin: 50px auto; }
  .head main .gallery a:nth-child(n+1):nth-child(-n+3) img { margin-bottom: 40px; box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }
  .head main .gallery a:nth-child(n+1):nth-child(-n+3) img:hover { margin-bottom: -30px; }
  .head main .gallery a:nth-child(n+4) img { transition: 500ms ease-in-out; margin-top: 30px; }
  .head main .gallery a:nth-child(n+4) img:hover { box-shadow: 0 0 50px rgba(0, 0, 0, 0.4); margin-top: -30px; }
  .head main .gallery img { width: 250px; border-radius: 20px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); z-index: -100; transition: 500ms ease-in-out; }
  .head main .gallery img:hover { width: 300px; }
  .what_need article div a img { width: 120px; transition: 500ms ease-in-out; }
  .what_need article div a img.left { margin: 0 30px 15px 0; }
  .what_need article div a img.left:hover { width: 140px; margin: 0 10px 5px 0; box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
  .what_need article div a img.right { margin: 0 0 15px 30px; }
  .what_need article div a img.right:hover { width: 140px; margin: 0 10px 5px 0; box-shadow: 0 0 30px rgba(0, 0, 0, 0.3); }
  .articles article header img { box-shadow: 0 0 30px rgba(0, 0, 0, 0.5); }
  .author { position: relative; top: 7vh; }
  .author article header img { width: 220px; }
  .author article header ul { padding-left: 250px; }
  .author article header ul li { font-size: 1.8rem; }
  .author article table td { font-size: 1.8rem; }
  .author article footer div { justify-content: flex-start; }
  .author article footer div a img { width: 180px; margin-right: 50px; } }
@media (min-width: 1366px) { main article { width: 1250px; }
  .head main article p { width: 1250px; } }

/*# sourceMappingURL=main.css.map */
