@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Slab:400,700&subset=cyrillic');

$font-family-main: 'Open Sans', sans-serif;
$font-family-head: 'Roboto Slab', serif;
$transition-time: 1s;
$position-nav: fixed;
$position-absolute: absolute;
$text-bold: 700;
$main-color: #1998FF;
$border-radius: 20px;

@mixin main-menu-basic ($width-nav, $height-nav, $left) {
    width: $width-nav;
    height: $height-nav;
    left: $left;
}

@mixin basic-block ($width, $height, $padding, $margin) {
    box-sizing: border-box;
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin
}

@mixin basic-text ($text-align, $font-size) {
    text-align: $text-align;
    font-size: $font-size;
}

%main-menu-style {
    position: $position-nav;
    transition: $transition-time;
    background-color: #2F2F2F;
    top: 0;
}

%menu-open-btn {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    right: -40px;
    top: 0;
    background-color: #2F2F2F;
}


body, html {
    margin: 0;
    font-family: $font-family-main;
}

body {
    header {
        width: 100%;
        .head_img {
            @include basic-block(100%, auto, 0, auto);
        }
        h1 {
            @include basic-text(center, 10vw);
            @include basic-block(100%, auto, 10px 0, 0);
            position: $position-absolute;
            background-color: rgba(255, 255, 255, 0.7);
            top: 6vh;
            font: {
                family: $font-family-head;
                weight: $text-bold;
            }
        }
    }
    
}

.main-menu {
    @include main-menu-basic(270px, 100vh, -270px);
    @extend %main-menu-style;
    nav {
        ul {
            padding: 0;
            li {
                @include basic-text(center, auto);
                list-style-type: none;
                border-bottom: rgb(189, 189, 189) solid 1px;
                padding: 10px;
                ul.оther_tabs {
                    padding: 0;
                    margin: 0;
                    li {
                        &:first-child {
                            border-top: none;
                        }
                        &:last-child {
                            border: none;
                        }
                    }
                }
                &:first-child {
                    border-top: rgb(189, 189, 189) solid 1px
                }
                &.оther_tabs {
                    padding: 0;
                }
                a {
                    @include basic-text(center, 5vw);
                    color: white;
                    text-decoration: none;
                }
                a.head-li {
                    font: {
                        family: $font-family-head;
                        weight: 600;
                    }
                }
            }
        }
    }
    .menu-open {
        position: $position-absolute;
        @extend %menu-open-btn;
        .band {
            height: 2px;
            background-color: white;
            margin: 8px 5px;
        }
    }
}

.main-menu_open {
    left: 0;
}

main {
    article {
        @include basic-block(auto, auto, 10px 20px, auto);
        @include basic-text(left, 4.5vw);
        h2 {
            @include basic-text(center, 8vw);
            font: {
                family: $font-family-head;
                weight: $text-bold
            }
        }
        a {
            color: $main-color;
            text-decoration: none;
            font: {
                family: $font-family-main;
            }
        }
        
    }

    aside {
        @include basic-block(100%, auto, 0, 0);
        color: white;
        background-color: $main-color;
        p {
            @include basic-text(left, 4.5vw);
            @include basic-block(100%, auto, 5px 20px 20px, auto);
        }
        ul {
            padding: 10px 20px;
            li {
                list-style-type: none;
            }
        }  
        &.w3org {
            img {
                width: 100%;
            }
        }
        &.youTube {
            @include basic-block(100%, auto, 0, auto);
            background-color: white;
            iframe {
                @include basic-block(100%, auto, 0, 0);
                background-color: white;
            }
        }
        &.gallery {
            @include basic-block(100%, 28vh, 0, auto);
            overflow-y: scroll;
            background-color: white;
            a {
                img {
                    @include basic-block(100%, auto, 0, auto);
                }
            }
        }
    }
}

footer.head {
    @include basic-text(left, 4.5vw);
    padding: 10px 20px;
    p {
        padding: 0;
        margin: 5px;
        a {
            color: $main-color;
            text-decoration: none;
        }
    }
}

@media (min-width: 768px) {
    header.relative {
        background-color: white;
        z-index: 1000;
        position: relative;
    }

    .main-menu {
        @include main-menu-basic(400px, 100vh, -400px);
        z-index: 10000;
        .menu-open {
            @include basic-block(50px, 50px, 0, 0);
            right: -50px;
            .band {
                height: 3px;
                background-color: white;
                margin: 10px 5px;
            }
        }
        nav {
            ul {
                li {
                    a {
                        font-size: 3.5vw;
                    }
                }
            }
        }
    }
    .main-menu_open {
        left: 0;
    }

    .head {
        .bg_blur {
            @include basic-block(100%, 100vh, 0, 0);
            object-fit: cover;
            filter: blur(4px);
            position: fixed;
            z-index: 10;
            background: {
                image: url("../img/backcground/background_768.png");
                attachment: fixed;
            }
        }
    }
    main {
        margin-top: -5px;
        position: relative;
        z-index: 1000;
        article {
            padding: 15px 50px;
            background-color: white;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            border-top: 1px solid rgba(0, 0, 0, 0.3);
            p {
                padding: 10px 0;
            }
            h2 {
                font-size: 6vw;
            }
            h3 {
                padding: 0 0 10px;
                font-size: 4.5vw;
            }
            img {
                border-radius: $border-radius;
            }
        }

        aside {
            width: auto;
            margin: 50px 20px;
            border-radius: $border-radius;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            p {
                font-size: 3vw;
            }
            &.w3org {
                img {
                    width: 200px;
                    float: left;
                    margin: 0 20px 6px;
                    padding-top: 20px;
                    border-radius: 50%;
                }
                ul {
                    padding-top: 30px;
                    li {
                        font-size: 3vw;
                    }
                }
            }
            &.youTube {
                width: auto;
                margin: 50px 20px;
                padding: 20px 0;
                transition: 500ms ease-in-out;
                iframe {
                    height: 30vh;
                    transition: 500ms ease-in-out;
                }
            }
            &.gallery {
                width: auto;
                margin: 50px 20px;
                transition: 500ms ease-in-out;
                a {
                    transition: 500ms ease-in-out;
                }
                // img {
                //     width: 100%;
                // }
            }
        }
    }

    p {
        font-size: 2.5vw;
    }

    footer.head {
        padding: 20px 50px;
        border-top: 2px solid $main-color;
        background-color: white;
        z-index: 1000;
        position: relative;
        p {
            margin: 10px 0;
        }
    }
}

@media (min-width: 1024px) {
    .head {
        .bg_blur {
            background-image: url("../img/background/background_1024.png");
        }
    }
    header {
        margin-top: 7vh;
        top: -1px;
        h1 {
            font-size: 7vw;
        }
    }
    .main-menu {
        width: 100%;
        height: 7vh;
        position: fixed;
        left: 0;
        top: -1px;
        nav {
            ul {
                display: flex;
                height: 7vh;
                border: none;
                justify-content: space-around;
                margin: 0;
                li{
                    display: flex;
                    align-items: center;
                    padding: 0;
                    border: none;
                    a {
                        font-size: 1.5rem;
                        transition: 500ms ease-in-out;
                        &::after {
                            content: "";
                            display: block;
                            margin: auto;
                            height: 2px;
                            background-color: white;
                            width: 0;
                            border-radius: 10px;
                            transition: 500ms ease-in-out;
                        }
                        &:hover {
                            color: $main-color;
                            &::after {
                                width: 100%;
                                background-color: $main-color;
                            }
                        }
                    }
                }
            }
        }
    }
    main {
        article {
            width: auto;
            &:last-child {
                border: none;
            }
            header {
                margin: 0;
            }
            p{
                margin: auto;
                width: 930px;
                font-size: 1.2rem;
            }
            h2 {
                font-size: 3.1rem;
            }
            h3 {
                font-size: 2.1rem; 
            }
        }
        aside {
            width: 700px;
            margin: 50px auto;
            transition: 500ms ease-in-out;
            p {
                font-size: 1.3rem;
            }
            &:hover {
                box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
            }
            &.w3org {
                img {
                    width: 100px;
                }
                ul {
                    padding-top: 30px;
                    li {
                        font-size: 1.3rem;
                    }
                }
            }
            &.youTube {
                width: 700px;
                height: 340px;
                iframe {
                    height: 100%;
                }
                &:hover {
                    width: 800px;
                    height: 440px;
                }
                margin: 50px auto;
            }
            &.gallery {
                transition: 500ms ease-in-out;
                display: flex;
                background: none;
                box-shadow: none;
                overflow: auto;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: center;
                @include basic-block(900px, auto, 20px 0, 50px auto);
                a:nth-child(n+1):nth-child(-n+3) img {
                    margin-bottom: 40px;
                    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
                    &:hover {
                        margin-bottom: -30px;
                    }
                }
                a:nth-child(n+4) img {
                    margin-top: 1px;
                    &:hover {
                        box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
                        margin-top: -30px;
                    }
                    
                }
                a {
                    img {
                        width: 250px;
                        border-radius: 20px;
                        box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
                        z-index: -100;
                        transition: 500ms ease-in-out;
                        &:hover {
                            width: 300px  
                        } 
                    }
                }
                
            }
        }
    }

    footer.head {
        position: relative;
        bottom: 0;
        border-top: $main-color solid 2px;
        p {
            font-size: 1.3rem;
        }
    }
    //Стили для вкладки "Главное"

    
}

@media (min-width: 1366px) {
    .head {
        .bg_blur {
            background-image: url("../img/backcground/bakcground_1366.png");
        }
    }
    
    nav {
        width: 1366px;
        margin: 0 auto;
    }

    main {
        article {
            width: 1250px;
        }
    }

    .head {
        main {
            article {
                p {
                    width: 1250px;
                }
            }
        }  
    } 
}

//Основные стили
