@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Roboto+Slab:400,700&subset=cyrillic');

$font-family-head: 'Roboto Slab', serif;
$text-bold: 600;
$main-color: #1998FF;
$additional-color: #b6b6b6;
$border-radius: 20px;



@mixin basic-block ($width, $height, $padding, $margin) {
    box-sizing: border-box;
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin
}

@mixin basic-text ($text-align, $font-size) {
    text-align: $text-align;
    font-size: $font-size;
}

%border-bottom {
    border-bottom: 1px solid $additional-color;
}

article {
    @include basic-block(100%, auto, 0 0 15px, auto);
    @include basic-text(left, 4.5vw);
    border-bottom: $main-color solid 2px;
    p {
        @include basic-block(100%, auto, 5px 20px, auto);
        a {
            color: $main-color;
            text-decoration: none;
        }
    }
    h2 {
        @include basic-text(center, 8vw);
        padding:  5px 20px;
        margin: 10px 0;
        font: {
            family: $font-family-head;
            weight: $text-bold
        }
    }
    h3 {
        @extend h2;
        font-size: 6.5vw;
        font-weight: 400;
        text-align: left;
        margin: 0;
        padding: 0 20px 15px;
    }
    img {
        @include basic-block(100%, auto, 0, 0);
    }
    div {
        padding: 20px 0;
        @extend %border-bottom;
        &:last-child {
            border-bottom: none;
        }
        &:first-child {
            padding: 0; 
        }
    }
}

aside {
    @include basic-block(100%, auto, 0, 0);
    color: white;
    background-color: $main-color;
    p {
        @include basic-text(left, 4.5vw);
        @include basic-block(100%, auto, 5px 20px 20px, auto);
    }
    ul {
        padding: 10px 20px;
        li {
            list-style-type: none;
        }
    }  
    .w3org img {
        @extend img;
    }
}

.youTube {
    @include basic-block(100%, auto, 0, auto);
    background-color: white;
    iframe {
        @include basic-block(100%, auto, 0, 0);
        background-color: white;
    }
}

.gallery {
    @include basic-block(100%, 30vh, 0, auto);
    overflow-y: scroll;
    background-color: white;
}

//Стили вкладки "Для верстки"

.what_need {
    div.first-child  {
        @extend %border-bottom;
    }
    div {
        border: none;
    }
    footer {
        p {
        padding-top: 0;
        margin-top: -14px;
        }
        
    }
}


//Стили для вкладки "Cтатьи"

.articles-menu {
    display: none;
}

//Стили для вкладки "О сайте"

.about_site {
    article {
        padding-bottom: 0;
        div.first-child {
            padding-top: 0;
        }
    }
}

//Стили для вкладки "Создатель"

.author {
    article {
        header {
            ul {
                @include basic-block(100%, auto, 0, 0);
                li {
                    @extend %border-bottom;
                    padding: 10px 0 10px 20px;
                    list-style: none;
                    span {
                        font-weight: 300;
                        color: $additional-color - 45;
                        margin-left: 10px;
                    }
                }
            }
        }
        div.table {
            border-bottom: none;
            table.skills {
                @include basic-block(100%, auto, 0, 0);
                border-collapse: collapse;
                tr {
                    td {
                        padding: 10px 0;
                        text-align: center;
                        border: 1px solid $additional-color;
                        &:first-child {
                            border-left: none;
                        }
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
                tr:first-child {
                    font-weight: 700;
                }
            }
        }
        footer {
            div {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                a {
                    img {
                       @include basic-block(30vw, auto, 0, 0);
                    }
                }
            }
        }
    }   
}

@media (min-width: 768px) {
    main {
        margin-top: -5px;
        article {
            padding: 15px 50px;
            background-color: white;
            p {
                padding: 10px 0;
            }
            h2 {
                font-size: 6vw;
            }
            h3 {
                padding: 0 0 10px;
                font-size: 4.5vw;
            }
            img {
                border-radius: $border-radius;
            }
        }

        aside {
            width: auto;
            margin: 50px 20px;
            border-radius: $border-radius;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            p {
                font-size: 3vw;
            }
        }
    }

    p {
        font-size: 2.5vw;
    }

    //Стили для вкладки "Главное"

    .head {
        main {
            position: relative;
            z-index: 1000;
            article {
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                border-top: 1px solid rgba(0, 0, 0, 0.3);
            }
            .w3org {
                img {
                    width: 200px;
                    float: left;
                    margin: 0 20px 6px;
                    padding-top: 20px;
                    border-radius: 50%;
                }
                ul {
                    padding-top: 30px;
                    li {
                        font-size: 3vw;
                    }
                }
            }
            .youTube {
                width: auto;
                margin: 50px 20px;
                padding: 20px 0;
                transition: 500ms ease-in-out;
                iframe {
                    height: 30vh;
                    transition: 500ms ease-in-out;
                }
            }
            .gallery {
                width: auto;
                margin: 50px 20px;
                transition: 500ms ease-in-out;
                img {
                    width: 100%;
                }
            }
        }
    }

    //Стили вкладки "Для верстки"

    .what_need {
        article {
            a {
                img {
                    width: 20vw;
                    &.left {
                        float: left;
                        margin: 0 20px 10px 0; 
                    }
                    &.right {
                        float: right;
                        margin: 0 0 10px 20px;
                    }
                }
            }
        }
    }

    //Стили для вкладки "Создатель" 

    .author {
        article {
            header {
                img {
                    border-radius: 50%;
                    float: left;
                    width: 30vw; 
                }
                ul {
                    padding-left: 35vw;
                    li {
                        font-size: 3.5vw;
                    }
                }
            }
            div {
                table {
                    font-size: 3.5vw;
                    margin-bottom: 40px;
                    border: 1px solid $additional-color;
                }
            }
            footer {
                div {
                    margin: 20px 0;
                    a {
                        img {
                            @include basic-block(25vw, auto, 0, 0);
                        }
                    }   
                }  
            }
        }
    }

}

@media (min-width: 1024px) {
    main {
        article {
            width: 1000px;
            &:last-child {
                border: none;
            }
            header {
                margin: 0;
            }
            p{
                font-size: 1.1rem;
            }
            h2 {
                font-size: 3.1rem;
            }
            h3 {
                font-size: 2.1rem; 
            }
        }
        aside {
            width: 700px;
            margin: 50px auto;
            transition: 500ms ease-in-out;
            p {
                font-size: 1.3rem;
            }
            &:hover {
                box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
            }
            
        }
    }

    //Стили для вкладки "Главное"

    .bg_blur  {
        background-image: url("../img/backcground/background_1024.png");
    }
    .head {
        main {
            article {
                width: auto;
                p {
                    width: 930px;
                    font-size: 1.2rem;
                }
            }
            .w3org {
                img {
                    width: 100px;
                }
                ul {
                    padding-top: 30px;
                    li {
                        font-size: 1.3rem;
                    }
                }
            }
            .youTube {
                width: 700px;
                height: 340px;
                iframe {
                    height: 100%;
                }
                &:hover {
                    width: 800px;
                    height: 440px;
                }
                margin: 50px auto;
            }
            .gallery {
                display: flex;
                background: none;
                box-shadow: none;
                overflow: auto;
                flex-wrap: wrap;
                justify-content: space-around;
                align-content: center;
                @include basic-block(900px, auto, 20px 0, 50px auto);
                a:nth-child(n+1):nth-child(-n+3) img {
                    margin-bottom: 40px;
                    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
                    &:hover {
                        margin-bottom: -30px;
                    }
                }
                a:nth-child(n+4) img:hover {
                    margin-top: -30px;
                    box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
                }
                img {
                    width: 250px;
                    // margin-right: 50px;
                    // margin-bottom: 20px;
                    border-radius: 20px;
                    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
                    z-index: -100;
                    transition: 500ms ease-in-out;
                    &:hover {
                        width: 300px  
                    } 
                }
            }
        }
    }

    //Стили вкладки "Для верстки"
    .what_need {
        article {
            div {
                a {
                    img {
                        width: 120px;
                        transition: 500ms ease-in-out;
                        &.left {
                            margin: 0 30px 15px 0;
                            &:hover {
                                width: 140px;
                                margin: 0 10px 5px 0;
                                box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
                            }
                        }
                        &.right {
                            margin: 0 0 15px 30px;
                            &:hover {
                                width: 140px;
                                margin: 0 10px 5px 0;
                                box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
                            }
                        }

                    }
                }
            }
        }
    }

    //Стили для вкладки "Cтатьи"

    .articles {
        article {
            header {
                img{
                    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
                }
            }
            
        }
    }
    

    //Стили для вкладки "Создатель" 

    .author {
        position: relative;
        top: 7vh;
        article {
            header {
                img {
                    width: 220px;
                }
                ul {
                    padding-left: 250px;
                    li {
                        font-size: 1.8rem;
                    }
                }
            }
            table {
                td {
                    font-size: 1.8rem;
                } 
            }
            footer {
                div {
                    justify-content: flex-start;
                    a {
                        img {
                            width: 180px;
                            margin-right: 50px;
                        }
                    }
                }
                
            }
        }
    }
}

@media (min-width: 1366px) {
    main {
        article {
            width: 1250px;
        }
    }

    .head {
        main {
            article {
                p {
                    width: 1250px;
                }
            }
        }  
    } 
}
