$main-color: #1998FF;

@mixin basic-text ($text-align, $font-size) {
    text-align: $text-align;
    font-size: $font-size;
}


footer.head {
    @include basic-text(left, 4.5vw);
    padding: 10px 20px;
    p {
        padding: 0;
        margin: 5px;
        a {
            color: $main-color;
            text-decoration: none;
        }
    }
}

@media (min-width: 768px) {
    footer.head {
        padding: 20px 50px;
        p {
            margin: 10px 0;
        }
    }

    //Стили для вкладки "Главное"

    .head {
        footer.head {
            border-top: 2px solid $main-color;
            background-color: white;
            z-index: 1000;
            position: relative;
        }
    }
}

@media (min-width: 1024px) {
    footer.head {
        position: relative;
        bottom: 0;
        border-top: $main-color solid 2px;
        p {
            font-size: 1.3rem;
        }
    }
    footer.author {
        top: 7vh;
    }
}